{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Add Article{% endblock %}


{% block content %}


    <div class="jumbotron" id="add-text" >
        <div class="container text-center">
            <h1>Article</h1>
            <h3>&emsp;&emsp;Adding.</h3>

        </div>
    </div>

    <form method="POST" class="center-block">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                {{ form.as_p }}
                <button type="submit" class=" btn btn-default">Summit</button>
            </div>
        </div>


    </form>
{% endblock %}