{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Add comment{% endblock %}





{% block content %}

    <div class="jumbotron" id="addcomment-text" >
        <div class="container text-center">
            <h1>Article</h1>
            <h3>&emsp;&emsp;wondering.</h3>

        </div>
    </div>



    <h1>New comment</h1>
{#    <form method="POST" class="post-form">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="save btn btn-default">Send</button>#}
{#    </form>#}


    <div class="container">
            <div class="row">
                <div class="col-sm-4">
                <h3>Drop me a line!</h3>
            <hr>
        <address>
        <strong>Email:</strong> <a href="mailto:#"> neon@domain.com</a><br><br>
        <strong>Phone:</strong> 1983
        </address>
            </div>

    <div class="col-sm-8 contact-form">

        <form id="contact" method="post" class="form" role="form">
             {% csrf_token %}
                <div class="row">
                <div class="col-xs-6 col-md-6 form-group">
                <input class="form-control" id="name" name="author" placeholder="Title" type="text" required autofocus />
            </div>
{#        <div class="col-xs-6 col-md-6 form-group">#}
{#            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />#}
{#        </div>#}
            </div>
        <textarea class="form-control" id="message" name="text" placeholder="Text" rows="5"></textarea>
        <br />
        <div class="row">

        <div class="col-xs-12 col-md-12 form-group">
        <button class="btn btn-primary pull-right" type="submit">Submit</button>
        </div>
        </div>
        </form>
    </div>
</div>
    </div>
{% endblock %}